[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "porridge"]
	path = porridge
	url = https://github.com/cran/porridge
[submodule "ragt2ridges"]
	path = ragt2ridges
	url = https://github.com/wvanwie/ragt2ridges
